<div class="container">
  <div class="container__form">
    <div class="dx-card">
      <h2 class="dx-theme-accent-as-text-color">Led panel color</h2>
      <hr class="dx-theme-border-color" />
      <dx-color-box
        class="dx-theme-accent-as-text-color"
        [value]="(selectedColor$ | async) || defaultColor"
        (valueChange)="onColorChange($event)"
        applyValueMode="instantly"
        [acceptCustomValue]="false"
      ></dx-color-box>
      <div class="card__footer"></div>
    </div>
  </div>
</div>
